<form style="width: 70%; margin: auto;" [formGroup]="loginForm" (ngSubmit)="submitFormData()">

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" class="form-control" formControlName="username">
        <span *ngIf="loginControl.username.errors && loginControl.username.touched">
            <span *ngIf="loginControl.username.errors?.required">
                <p class="text-danger">Username field is required</p>
            </span>
        </span>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <span *ngIf="loginControl.password.errors && loginControl.password.touched">
            <span *ngIf="loginControl.password.errors?.required">
                <p class="text-danger">Username field is required</p>
            </span>
        </span>
    </div>



    <button [disabled]="loginControl.password.errors || loginControl.username.errors" class="btn btn-primary" type="submit">Login</button>
</form>